<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"></meta>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="robots" content="noindex,nofollow">

        <link rel="stylesheet" href="../public/css/styles.css">
        <link rel="icon" href="../public/images/favicon.ico">
        <link rel="shortcut icon" href="../public/images/favicon.ico">

        <!--link rel="stylesheet" href="../public/css/fonts.css" !-->
        <style>@font-face {
            font-family: 'SamsungRegular';
            src: url('../public/fonts/samsungif_rg-webfont.eot') format('embedded-opentype'),
                 url('../public/fonts/samsungif_rg-webfont.woff') format("woff"),
                 url('../public/fonts/samsungif_rg-webfont.ttf') format('truetype');
            font-weight: normal;
            font-style: normal;
        }
        </style>
        <!-- Global site tag (gtag.js) - Google Analytics
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-113637484-2"></script>

 -->

        <!-- ASSUMING THIS IS THOMAS'S GOOGLE ANALYICS TAG
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'UA-113637484-2');
        </script>
        -->

        <!--<link rel="apple-touch-icon" href="http://tomtech.us/../public/images/apple-touch.png">-->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans%7CRoboto" rel="stylesheet">
        <meta property="og:title" content="Home">
        <meta property="og:site_name" content="David Taylor's website, resume and playground">
        <meta property="og:type" content="article">
        <meta property="og:locale" content="en_US">
        <meta property="og:url" content="#">
        <meta property="og:image" content="">
        <meta property="og:description" content="">
        <meta name="twitter:card" content="summary">
        <meta name="twitter:title" content="Home">
        <meta name="twitter:description" content="">
        <meta name="twitter:image" content="">
        <meta name="description" content="">
        <link href="index.html" rel="canonical" />
        <title>David Taylor's website, portfolio and playground</title>
    </head>
    <body>
        <header>
            <div id="header-logo">
                <a href="index.html" title="Home">
                    <img src="../public/images/logo-5.png" alt="Logo Banner"/>
                </a>
            </div>
            <nav class="upper-nav">
                <ol class="nav-links">
                    <li class="portfolio">
                        <a href="index.html#portfolio" title="Portfolio"> Portfolio </a>
                    </li>
                    <li class="videos">
                        <a href="videos.html" title="Videos"> Videos </a>
                    </li>
                    <li class="companies">
                        <a href="skills.html" title="Skills"> Skills </a>
                    </li>
                    <li class="about-me">
                        <a href="about.html" title="About"> About </a>
                    </li>
                    <li class="contact-me">
                        <a href="contact.html" title="Contact"> Contact </a>
                    </li>
                </ol>
            </nav>
        </header>
        <!--<hr/>-->
        <div class="content-body">
            <div class="parallax">
                <div class="parallax__layer parallax__layer__5">
                    <img src="../public/images/Layer-1-12.png"/>
                </div>
                <div class="parallax__layer parallax__layer__3">
                    <img src="../public/images/Layer-4-12.png"/>
                </div>

                <div class="content-container" style="left: 1%; position: absolute;">
                    <section id="summary">
                        <div class="summary-container">
                            <h1>Summary</h1>
                            <p>Worked for over 4 years in Javascript development both on the fromt end and backend. I am familiar with many javascript libraries/frameworks including charts.js, google charts, p5.js, jQuery, nodejs, passport.js, express.js, pm2, ejs, nginx and much more. <br><br> I am well practied in setting up node servers as well as creating interactive and professional front end data visualizations, such as charts, graphs, loading bars, ect. My main expertise is in serverside programming, but if needed can create a full stack application including css, html, and static files (Which is what this website is!). <br><br> Please take your time to look around the site, there are some easter eggs laying around so dont be surprised if you come across one! Everything you see on this site is a custom project from my portfolio, whether it be simple games or sample login pages with active sessions. <br><br> Apart from just my javascript abilities, I also have several years experience communicating with clients and translating their business needs into an application. I good communication skills, I dont confuse clients with technical jargon they dont understand and I am able to translate what I am doing for them in laymans terms anyone can understand. I also work well with teams, and would like to think I bring good positive energy to the group, but I'll let you be the judge of that! <br><br> I am Currently accepting full and part time positions for javascript development, as well as freelance work. click the email icon below to reach me, and we can set up a meeting! </p>
                        </div>
                    </section>
                    <section id="portfolio">
                        <h1>Portfolio</h1>
                        <!--
                        <ul class="portfolio-elements">
                            <li id="portfolio-one">
                                <a href="electrolux.html" title="Electrolux">
                                    <span class="portfolio-item-title"> Electrolux </span>
                                </a>
                            </li>
                            <li id="portfolio-two">
                                <a href="aeg.html" title="AEG">
                                    <span class="portfolio-item-title"> AEG </span>
                                </a>
                            </li>
                            <li id="portfolio-three">
                                <a href="zanussi.html" title="Zanussi">
                                    <span class="portfolio-item-title"> Zanussi </span>
                                </a>
                            </li>
                            <li id="portfolio-four">
                                <a href="eluxminorbrands.html" title="Electrolux Minor Brands">
                                    <span class="portfolio-item-title"> Electrolux Minor Brands </span>
                                </a>
                            </li>
                            <li id="portfolio-five">
                                <a href="fisherpaykel.html" title="Fisher&Paykel">
                                    <span class="portfolio-item-title"> Fisher&Paykel </span>
                                </a>
                            </li>
                            <li id="portfolio-six">
                                <a href="crystalski.html" title="TUI/CrystalSki">
                                    <span class="portfolio-item-title"> TUI / CrystalSki </span>
                                </a>
                            </li>
                            <li id="portfolio-seven">
                                <a href="leica.html" title="Leica">
                                    <span class="portfolio-item-title"> Leica </span>
                                </a>
                            </li>
                            <li id="portfolio-eight">
                                <a href="windriver.html" title="Windriver">
                                    <span class="portfolio-item-title"> Windriver </span>
                                </a>
                            </li>
                            <li id="portfolio-nine">
                                <a href="index.html#" title="Graffiti Database (From Scratch)">
                                    <span class="portfolio-item-title"> Graffiti Database (Coming Soon) </span>
                                </a>
                            </li>
                            <li id="portfolio-more">
                                <a href="index.html#" title="More">
                                    <span class="portfolio-item-title"> MISC Projects (Coming Soon) </span>
                                </a>
                            </li>
                        </ul>
                        span class="data-portfolio-link">
                            <a href="index.html#" title="Data-Portfolio"> See Data Portfolio instead? (Coming Soon) </a>
                        </span-->
                    </section>
                    <section id="psuedo-footer">
                        <div id="company-name">
                            <img src="../public/images/favicon.ico" alt="Tom-Tech Icon"/>
                            <p> Taytech UwU </p>
                        </div>
                    </section>
                </div>
            </div>
        </div>
      </div>
    </body>
    <footer>
        <div class="social-media-icons">
            <span>
                <a class="email" href="mailto:davidtaylor92037@gmail.com" title="Email"><i></i></a>
                <!--
                <a class="linkedin" href="https://www.linkedin.com/in/thomas-friedrich-m/" title="LinkedIn"><i></i></a>
                <a class="facebook" href="https://www.facebook.com/thomas.friedrich.7792" title="Facebook"><i></i></a>
                -->
            </span>
        </div>
    </footer>
</html>
